<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.we.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\Users\Adrian\source\repos\logs\BarberiAppNegocio\NLogGeneralNegocio.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="event_logs" fileName="C:\Users\Adrian\source\repos\logs\BarberiAppNegocio\NLogEventNegocio.txt"></target>
		<target name="audit_logs"
				xsi:type="Database"  
				connectionString="${configsetting:item=ConnectionStrings.dbConnectionAudit}"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
				commandText="INSERT INTO Registro_cita (date, level, message, machinename, logger)
				VALUES (@date, @level, @message, @machinename, @logger)">
				
			<parameter name="@date" layout="${longdate}" dbtype="DateTime" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@machinename" layout="${machinename}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="event_logs"/>
		<logger name="*" minlevel="Warn" writeTo="audit_logs"/>
		<!--logger name="BarberiAppNegocio.Controllers.BarberiaController" minlevel="Warn" writeTo="audit_logs"/>
		<logger name="BarberiAppNegocio.Controllers.ServicioController" minlevel="Warn" writeTo="audit_logs"/-->
	</rules>
</nlog>